﻿@model Senior_Capstone_2.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />

    <div class="row">

        <div class="col-md-3">
            Passwords
        </div>
        <div class="col-md-3">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            Modify Account Information
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Modify", "Edit", "Users", new { id = Model.UserId },null)
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            Dependents Management
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Dependants", "DependantList", "Dependants")
        </div>
    </div>
    
    @*<div class="row">

        <div class="col-md-3">
            Check-Out
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Check-Out", "RosterList", "Rosters")
        </div>
    </div>*@
</div>
