﻿@model Senior_Capstone_2.SpecialNeeds

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpecialNeeds</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shelters.ShelterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelters.ShelterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Handicap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Handicap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildCare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildCare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShelterId }) |
    @Html.ActionLink("Back to Admin", "Index", "Admin")
