﻿@model IEnumerable<Senior_Capstone_2.SpecialNeeds>

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Special Needs Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shelters.ShelterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Handicap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildCare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetFriendly)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Shelters.ShelterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Handicap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildCare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetFriendly)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShelterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShelterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShelterId })
        </td>
    </tr>
}

</table>
