﻿@model IEnumerable<Senior_Capstone_2.Dependants>

@{
    ViewBag.Title = "Index";
}

<h2>Your Dependents List</h2>

<p>
    @Html.ActionLink("Add a Dependent", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DependantId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DependantId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DependantId })
            </td>
        </tr>
    }

</table>
