﻿@model Senior_Capstone_2.ContactAdmins


@{
    ViewBag.Title = "Contact";
}

    <h1>Emergency Shelter Locator</h1>


<h2>Intermedix</h2>
<p>
    Fill out the form below to contact our Admin Support Team
</p>

<div>
    @Html.Action("Create", "ContactAdmins")

</div>






<p> co-conspirators: Edward Tsien, Lam Le, Alex Taylor</p>