﻿@{
    ViewBag.Title = "FAQ";
}

<div class="jumbotron">Frequently Asked Questions</div>

<ul>
    <li><b>1.</b> Who can use this system? <p>Anyone can use this! You do not have to register until you show up at the shelter.</p></li>
    <li><b>2.</b> What should I do in the event of an emergency? <p>You should follow the instructions in the emergency broadcast system, and use this website to help find a shelter.</p></li>
    <li><b>3.</b> What if I have pets or allergies or other special needs? <p>This website will help you determine which shelter is best suited for your needs!</p></li>
</ul>