﻿
@{
    ViewBag.Title = "Admin Page";
}

<h2>Admin Page</h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Shelter Management</a></li>
        <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">Criteria Management</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Roster Management</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">User Management</a></li>
        <li role="presentation"><a href="#contact" aria-controls="messages" role="tab" data-toggle="tab">Contact Management</a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">@Html.Action("Index","Shelters")</div>
        <div role="tabpanel" class="tab-pane fade" id="special">@Html.Action("Index", "SpecialNeeds")</div>
        <div role="tabpanel" class="tab-pane fade" id="profile">@Html.Action("Index", "Rosters")</div>
        <div role="tabpanel" class="tab-pane fade" id="messages">@Html.Action("Index", "Users")</div>
        <div role="tabpanel" class="tab-pane fade" id="contact">@Html.Action("Index", "ContactAdmins")</div>
    </div>

</div>