﻿@model Senior_Capstone_2.Criteria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Criteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shelters.ShelterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelters.ShelterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
