﻿@model IEnumerable<Senior_Capstone_2.Shelters>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Shelter Index</h2>

<p>
    @Html.ActionLink("Add a Shelter", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShelterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShelterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShelterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShelterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShelterId }) |
            @Html.ActionLink("View Roster", "RosterList", new { id = item.ShelterId })
        </td>
    </tr>
}

</table>
