﻿@model IEnumerable<Senior_Capstone_2.Models.RosterDependantCount>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>@ViewBag.ShelterName Roster</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRoster.AspNetUsers.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoster.AspNetUsers.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoster.AspNetUsers.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoster.Shelters.ShelterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepCount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRoster.AspNetUsers.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRoster.AspNetUsers.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRoster.AspNetUsers.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRoster.Shelters.ShelterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepCount)
                </td>
                <td>

                    @Html.ActionLink("Checkout", "Delete", "Rosters", new {  id=item.UserRoster.UserId }, null)
                </td>
            </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Back to Admin", "Index", "Admin")
    </div>
</body>

</html>
