﻿body {
    background-color: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    text-align: center;
}


.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
#logo {
    height: 150%;
    margin-top: -5px;
    margin-right: 5px;
}

#specialNeedsObj {
    margin-left: 1em;
}

#leftList {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.appendaddress {
    margin-bottom: 0px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}