﻿@using System.Web.Security
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + (ViewData["FullName"])+ "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                @if (User.IsInRole("Admin")) {
                @Html.ActionLink("Admin Page", "Index", "Admin")

                }

            </li>

            @*@if (Roles.IsUserInRole(User.Identity.Name,"Admin")) {
            <li>
                @Html.ActionLink("Manage Shelter", "Index", "Shelters")
            </li>
            }*@

            @*<li>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                </li>*@


            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
