﻿@model IEnumerable<Senior_Capstone_2.Roster>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelters.ShelterName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelters.ShelterName)
            </td>
            <td>

                @Html.ActionLink("Checkout", "Delete", new {  id=item.AspNetUsers.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
