﻿@{
    ViewBag.Title = "Welcome to Emergency Shelter Locator";
}

@*Google API Key AIzaSyDmZWfPSdJJHagBPOfWsibiKKIH9uIoi_s*@
<body>
    @* Intro Modal *@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Shelter Locator</h4>
                </div>
                <div class="modal-body">
                    Welcome to Emergency Shelter Locator.  Be sure to click "Allow" when your browser asks for your location!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Check In Modal *@
    <div class="modal fade modalname" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="text-align: center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Check In</h4>
                </div>
                <div class="modal-body">
                    <div id="addifcap"></div>

                    <div id="removeifcap" class="row">
                        <div id="occupancy" class="col-md-2">Occupancy</div>
                        <div id="capacity" class="col-md-3">Capacity</div>
                        <div id="dependantcount" class="col-md-3">Your Party</div>
                        <div id="checkinDiv" class="col-md-push-4"><button type="button" class="checkinButton btn btn-primary">Check In</button><button type='button' id='checkoutmodalbutton' class='btn btn-danger' style="display:none;">Check out</button></div>
                    </div>

                    <div id="removeifcap">
                        <div id="checkinDynamic"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Special Needs Modal *@
    <div class="modal fade" id="specialneeds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="criteriaLabel">Special Needs</h4>
                </div>
                <div class="modal-body">
                    <div id="specialNeeds">
                        <form>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="chkbx1">Handicapped Access
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="chkbx2">Food Allergies
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="chkbx4">Child Care
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="chkbx8">Pet Friendly
                                </label>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row" id="userThings">
            <h4>
                Address: <input id="address" type="text" placeholder="Enter Your Address" /> <input id="search" type="button" class="btn btn-default" value="Search for Shelters"> <input id="currentLoc" type="button" class="btn btn-success" value="Use Current Location" />
                <button class="btn btn-primary" id="specialCriteria" type="button" data-toggle="modal" data-target="#specialneeds" aria-expanded="false" aria-controls="specialNeeds">
                    Advanced Options
                </button>
                <button class="btn btn-danger" id="checkoutindex" style="display:none">Checkout</button>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3" id="leftList">
            <button type="button" class="backButton btn btn-primary">Back</button>
            <div id="destinationList">
                <ul class="appendaddress list-group" style="height: 720px; overflow: auto">
                    <li class='list-group-item' id='listTopper' style='display:none;'>Get started by entering your location or clicking Use Current Location</li>
                </ul>
            </div>
            <div id="directionsList"></div>
        </div>

        <div class="col-md-8 col-lg-9">
            <div id="map" style="width:100%;height:720px;">
            </div>
        </div>
    </div>
</body>

@section scripts {
    @*<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>*@
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCBjrYsQvLBic4XYXL8FyYIKiYUERDbaz0" type="text/javascript"></script>

    <script>
        var userposition;
        var geocoder;
        var map;
        var compoundAddress = [];
        var criteria = false;

        var checkbox1 = false;
        var checkbox2 = false;
        var checkbox4 = false;
        var checkbox8 = false;

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var infoWindow;
        var markerArray = [];

        //initialization
        $(window).load(function () {
            checkCookie();
            $('.backButton').hide(0);
            initialize();
        });

        //initializes the map
        function initialize() {

            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(37.09024, -95.712891);
            var mapOptions = {
                zoom: 5,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            infoWindow = new google.maps.InfoWindow({ map: map });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    userposition = pos;
                    map.setCenter(pos);
                    map.setZoom(11);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById("directionsList"));

            document.getElementById('currentLoc').addEventListener('click', function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        document.getElementById('address').value = "" + pos.lat + ", " + pos.lng;
                        clearMarkers();
                        infoWindow.close();
                        document.getElementById('search').click();
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            })
        }

        //generates 25 event listeners for the destination list
        @for (int i = 0; i < 25; i++) {
            string end = "#end";
            string address = "address";
        <text>
        $(document).on('click', '@end@i', function () {
            calculateAndDisplayRoute(directionsService, directionsDisplay, '@address@i');
        });
        </text>
        }

        //the main search function tied to the big button
        $('#search').on('click', (function () {
            $('.appendaddress').empty();
            $('.appendaddress').append("<li class='list-group-item' id='listTopper' style='display:none;'>Get started by entering your location or clicking Use Current Location</li>");
            clearMarkers();
            infoWindow.close();
            //send off parameters to getAddressSpecial
            $.getJSON("/Shelters/getAddressSpecial/", {
                handicap: checkbox1,
                food: checkbox2,
                children: checkbox4,
                pets: checkbox8
            },
            function (data) {
                function aObj(name, address, phone, id) {                   //data structure for return data
                    this.name = name;
                    this.address = address;
                    this.phone = phone;
                    this.shelterId = id;
                }
                var addressObj = [];
                compoundAddress = [];                                       //wipes compoundAddress for reuse in further queries
                $.each(data, function (key, val) {                          //parse out return data into aObj structure
                    var address = data[key].Address + ", " + data[key].City + ", " + data[key].ZipCode;
                    compoundAddress[key] = address;
                    var phone = data[key].PhoneNumber;
                    var name = data[key].ShelterName;
                    var id = data[key].ShelterId;

                    addressObj.push(new aObj(name, address, phone, id));    //addressObj is an array of aObj
                })
                var originAddress = [];
                originAddress[0] = document.getElementById('address').value;
                var service = new google.maps.DistanceMatrixService();
                service.getDistanceMatrix(                                  //initialize and run distanceMatrix service
                  {
                      origins: originAddress,
                      destinations: compoundAddress,
                      travelMode: google.maps.TravelMode.DRIVING
                  }, callback);

                function callback(response, status) {
                    if (status == google.maps.DistanceMatrixStatus.OK) {
                        var origins = response.originAddresses;
                        var destinations = response.destinationAddresses;

                        var results = response.rows[0].elements;
                        var elementArray = [];
                        for (var j = 0; j < results.length; j++) {
                            elementArray[j] = results[j];
                            $.extend(elementArray[j], addressObj[j]);       //extend distanceMatrix array with addressObj
                        }                                                   //now the data is ready to be sorted

                        var sortable = elementArray.slice(0);
                        sortable.sort(function (a, b) {                     //sorting of the combined data
                            return a.distance.value - b.distance.value;
                        })
                        $.each(sortable, function (key, val) {              //generate and insert objects into the list on the page
                            $(".appendaddress").append("<li class='list-group-item'><div id='listIndex' style='display:none;'>" + key + "</div><div id='shelterName'>" + sortable[key].name +
                                "</div><div id='address" + key + "'>"
                                + sortable[key].address + "</div><p>"
                                + sortable[key].phone + "<br/>Distance:" + Math.floor((sortable[key].distance.value) / 16.0934) / 100 + " Miles</p> <input id='end" + key
                                + "' class='directions btn btn-default' type='button' value='Get Directions' /><input class='checkIn1 btn btn-success' id='"
                                + sortable[key].shelterId + "' type='button' value='Check In' style='display:none;' data-toggle='modal' data-target='.modalname'" + "</li>");
                            codeAddress(sortable[key].address, key, sortable[key].name);
                        }
                        );

                        $.getJSON("/Rosters/Check1", function (data) {      //performs preliminary check to see if you're checked into any shelters
                            if (data[0].checkedin == true) {
                                $('.checkIn1').hide(0);
                                $('#checkoutindex').show(100, "swing");
                            }
                            else {
                                $('.checkIn1').show(500, "swing");
                                $('#checkoutindex').hide(0);
                            }
                        });
                    }
                    else {
                        window.alert('Directions request failed due to ' + status);
                    }
                }

            });
        }));

        //criteria listener booleans
        $('#chkbx1').click(function () {
            checkbox1 = !checkbox1;
        });
        $('#chkbx2').click(function () {
            checkbox2 = !checkbox2;
        });
        $('#chkbx4').click(function () {
            checkbox4 = !checkbox4;
        });
        $('#chkbx8').click(function () {
            checkbox8 = !checkbox8;
        });

        //button toggling functionality
        $('#destinationList').on('click', '.directions', function () {
            $('#destinationList').hide();
            $('#directionsList').show();
            $('.backButton').show();
        })

        //back button toggle functionality
        $('.backButton').click(function () {
            $('#directionsList').hide();
            $('.backButton').hide();
            $('#destinationList').show();
            map.setCenter(userposition);
            map.setZoom(11);
        });

        //triggers modal for checking in to shelter
        $('.appendaddress').on('click', '.checkIn1', function () {
            var shelterid1 = this.id;
            $('.rosterData').remove();
            $('.removeifcap1').remove();
            $('#removeifcap').show();
            $('#checkoutmodalbutton').hide(0);
            $.getJSON("/Rosters/Check", {
                shelterid: shelterid1
            }, function (data) {                                            //checks occupancy first

                if (data[0].occupancy + data[0].usersize > data[0].capacity) {

                    $('#removeifcap').hide();
                    $('#addifcap').append("<div  class='removeifcap1'> Sorry, the shelter is full. <br /> Please try another shelter. </div> ");


                }
                else {
                    $('#capacity').append("<div class='rosterData'> " + data[0].capacity + "</div> ");
                    $('#occupancy').append("<div class='rosterData'> " + data[0].occupancy + "</div> ");
                    $('#dependantcount').append("<div class='rosterData'> " + data[0].usersize + "</div> ");
                    if (data[0].checkedin) {
                        $('.checkinButton').attr('id', shelterid1).hide(0);
                        $('#checkoutmodalbutton').show(0);
                        $('#checkoutmodalbutton').on('click', function () {
                            checkoutfunction();
                        });
                    }
                    else {
                        $('.checkinButton').attr('id', shelterid1).show(500, 'swing');
                    }
                }
                data = {};
            });
        })

        //gives list selection highlighting and corresponding marker selection
        $('.appendaddress').on('click', '.list-group-item', function () {
            $('.list-group-item').removeClass('active');
            $(this).addClass('active');
            infoWindow.close();
            var index = $(this).children('#listIndex').text();
            var shelterTitle = $(this).children('#shelterName').text();
            infoWindow.setContent(shelterTitle);
            var localmarker = markerArray[index];
            infoWindow.open(map, localmarker);
            var offset = $(this).position().top - $('#listTopper').position().top;
            $('.list-group').animate({scrollTop:offset});
        })

        //triggers on the checkin modal
        $('.checkinButton').on('click', function () {
            var divshelterid = this.id;
            $('.removeifcap1').remove();
            $.getJSON("/Rosters/CheckIn", { shelterid: divshelterid }, function (data) {

                if (data[0].islogin == true) {                              //then checks login status
                    if (data[0].ischeckin == false) {                       //finally, checks if you're already checked in
                        if (data[0].isempty) {                              //shows async response + success
                            $('#checkinDynamic').append("<div class='removeifcap1'>You have been checked in!</div>");
                            $('#checkoutindex').show();
                            $('.checkIn1').hide();
                            $('#checkinDiv').hide();
                        }
                        else {
                            $('#checkinDynamic').append("<div class='removeifcap1'>Shelter is at max capacity!</div>");
                        }
                    }
                    else {
                        $('#checkinDynamic').append("<div class='removeifcap1'>You are already checked in!</div>");
                        $('.checkinButton').hide(500, 'swing');
                        $('#checkoutmodalbutton').show(500, 'swing');
                        $('#checkoutmodalbutton').on('click', function () {
                            checkoutfunction();
                        });
                    };
                }
                else {
                    $('#checkinDynamic').append("<div class='removeifcap1'>You need to be logged in to do that.</div>");
                }
            })
        })

        //other check out button
        $('#checkoutindex').on('click', function () {
            $.getJSON("/Rosters/CheckOut", function (data) {
                if (data == true) {
                    $('#checkoutindex').hide(500, 'swing');
                    $('.checkIn1').show();
                    $('.checkinButton').show();
                    $('#checkinDiv').show();
                    data = {};
                }
                else {
                    data = {};
                }
            });

        })

        //checks user out
        function checkoutfunction() {
            $('.removeifcap1').remove();                                    //removes modal objects
            $.getJSON("/Rosters/CheckOut", function (data) {                //async request to RostersController
                if (data == true) {
                    $('#checkinDynamic').append("<div class='removeifcap1'>You have been checked out!</div>");
                    $('#checkoutmodalbutton').hide(500, 'swing');
                    data = {};
                }
                else {
                    $('.removeifcap1').remove();
                    $('#checkinDynamic').append("<div class='removeifcap1'>Checked out failed!</div>");
                    data = {};
                }
            });

        }

        //takes destination and displays route
        function calculateAndDisplayRoute(directionsService, directionsDisplay, endlocation) {
            directionsService.route({
                origin: document.getElementById('address').value,
                destination: document.getElementById(endlocation).innerHTML,
                travelMode: google.maps.TravelMode.DRIVING
            }, function (response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }

        //geocodes the user's current address
        function codeAddress(address, endnum, title) {
            var temp1 = title;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        animation: google.maps.Animation.DROP
                    });
                    markerArray.push(marker);
                    google.maps.event.addListener(marker, "click", function () {
                        var tag = "#address" + endnum;
                        $(tag).click();
                        infoWindow.close();
                        infoWindow.setContent(temp1);
                        infoWindow.open(map, marker);
                    });
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }

        //wipes markers off the map
        function clearMarkers() {
            for (var i = 0; i < markerArray.length; i++) {
                markerArray[i].setMap(null);
            }
        }

        //error handler
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
        }

        //obtains introductory modal cookie
        function getCookie(cname) {
            var name = "modal=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        //checks if the modal cookie is 1 day old and displays modal + refreshes cookie
        function checkCookie() {
            var user = getCookie("modal");
            if (user == "") {
                var d = new Date();
                d = d.getTime() + 86400000;
                document.cookie = "modal=" + d + ";";
                $('#myModal').modal('show');
            } else {
                var e = new Date();
                var f = user - e.getTime();
                if (f <= 0) {
                    $('#myModal').modal('show');
                    var d = new Date();
                    d = d.getTime() + 86400000;
                    document.cookie = "modal=" + d + ";";
                }
            }
        }

    </script>
}